#workDay {
    color: black;
    text-shadow: -2px 0 gold, 0 2px gold, 2px 0 gold, 0 -2px gold;
}
#wrapWorkDay {
    text-align: center;
}
body {
    background-color: #800020;
}
.noMargin {
    margin: 0 auto !important;
}
.time {
    color: gold;
    font-size: 3vw;
}